<div class="container mx-auto mt-16 px-5">
  <h2 class="text-3xl font-bold mb-16 text-center">About Gizz Tapes</h2>
  
  <p class="mb-3">Gizz Tapes is a jukebox for tapes of <a href="https://kinggizzardandthelizardwizard.com/" class="link link-hover link-primary" target="_blank">King Gizzard and the Lizard Wizard</a> shows. It's a <strong>strictly unofficial</strong> website with no ties to the band. All audio is hosted by and streamed from the <a href="https://archive.org" class="link link-hover link-primary" target="_blank">Internet Archive</a>, and artwork, show notes and other metadata are mirrored from <a href="https://kglw.net" class="link link-hover link-primary" target="_blank">KGLW.net</a>. The core concept was primarily inspired by <a href="https://phish.in" class="link link-hover link-primary" target="_blank">phish.in</a>, and some inspiration was drawn from other similar websites and apps such as <a href="https://relisten.net/" class="link link-hover link-primary" target="_blank">Relisten</a>, but Gizz Tapes incorporates audio from both the Live Music Archive and Community Audio collections.</p>

  <p class="mb-3">Gizz Tapes 1 launched on 2024-09-01, and was built upon the Jekyll static site generator. Gizz Tapes 2 was rebuilt from the ground up using Rails to allow for greater interactivity and interconnectivity with the main KGLW.net website, and launched in 2025.</p>
  
  <p class="mb-3">Want to receive <strong>notifications when we add a new show to the site</strong>? Follow <a href="https://bsky.app/profile/tapes.kglw.net" class="link link-hover link-primary" target="_blank">Gizz Tapes on Bluesky</a>, or check out our handy <a href="/feed.xml" class="link link-hover link-primary" target="_blank">Atom feed</a>!</p>
  
  <p class="mb-3"><strong>If you run into any bugs, or you have any feedback at all</strong>, please raise an issue <a href="https://gitlab.com/kglw/gizztapes2/-/issues" class="link link-hover link-primary" target="_blank">directly on our issue tracker</a> or by <a href="mailto:incoming+kglw-gizztapes2-65723799-glimt-8sscpe2bswaj593z1929bru60-issue@incoming.gitlab.com" class="link link-hover link-primary" target="_blank">emailing us</a>. <strong>Want to contribute</strong>? Check out our <a href="https://gitlab.com/kglw/gizztapes2" class="link link-hover link-primary" target="_blank">Git repo</a>!</p>
  
  <p class="mb-3">Please consider <a href="https://archive.org/donate" class="link link-hover link-primary" target="_blank">making a donation to the Internet Archive</a>, without whom this website would not be possible, to help support all their important work preserving digital culture.</p>
  
  <p class="mb-3">Get the Android app (coming to iOS soon!):</p>
  
  <div class="flex justify-center">
    <a class="btn btn-primary" style="width:fit-content;" href="https://play.google.com/store/apps/details?id=gizz.tapes.full" target="_blank">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
        stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round"
          d="M5.25 5.653c0-.856.917-1.398 1.667-.986l11.54 6.347a1.125 1.125 0 0 1 0 1.972l-11.54 6.347a1.125 1.125 0 0 1-1.667-.986V5.653Z" />
      </svg>

      Google Play
    </a>
  </div>
</div>