<div class="container mx-auto mt-16 px-5">
  <h2 class="text-3xl font-bold mb-16 text-center">About Gizz Tapes</h2>
  
  <p class="mb-3">Gizz Tapes is a jukebox for tapes of <a href="https://kinggizzardandthelizardwizard.com/" class="link link-hover link-primary" target="_blank">King Gizzard and the Lizard Wizard</a> shows. It's a <strong>strictly unofficial</strong> website with no ties to the band. All audio is hosted by and streamed from the <a href="https://archive.org" class="link link-hover link-primary" target="_blank">Internet Archive</a>, and artwork, show notes and other metadata are mirrored from <a href="https://kglw.net" class="link link-hover link-primary" target="_blank">KGLW.net</a>. The core concept was primarily inspired by <a href="https://phish.in" class="link link-hover link-primary" target="_blank">phish.in</a>, and some inspiration was drawn from other similar websites and apps such as <a href="https://relisten.net/" class="link link-hover link-primary" target="_blank">Relisten</a>, but Gizz Tapes incorporates audio from both the Live Music Archive and Community Audio collections.</p>

  <p class="mb-3">Gizz Tapes 1 launched on 2024-09-01, and was built upon the Jekyll static site generator. Gizz Tapes 2 was rebuilt from the ground up using Rails to allow for greater interactivity and interconnectivity with the main KGLW.net website, and launched in 2025.</p>
  
  <p class="mb-3">Want to receive **notifications when we add a new show to the site**? Follow [Gizz Tapes on Bluesky](https://bsky.app/profile/tapes.kglw.net){:target="_blank"}, or check out our handy [Atom feed](/feed.xml){:target="_blank"}!</p>
  
  <p class="mb-3">**If you run into any bugs, or you have any feedback at all**, please raise an issue [directly on our issue tracker](https://gitlab.com/kglw/bootleg-bonanza/-/issues){:target="_blank"} or by [emailing us](mailto:incoming+kglw-bootleg-bonanza-60518456-glimt-8sscpe2bswaj593z1929bru60-issue@incoming.gitlab.com). **Want to contribute**? Check out our [Git repo]({{ site.repo }}){:target="_blank"}!</p>
  
  <p class="mb-3">Please consider [making a donation to the Internet Archive](https://archive.org/donate){:target="_blank"}, without whom this website would not be possible, to help support all their important work preserving digital culture.</p>
  
  <p class="mb-3">Get the Android app (coming to iOS soon!):</p>
  
  <a class="btn btn-primary mx-auto block" style="width:fit-content;" href="https://play.google.com/store/apps/details?id=gizz.tapes.full" target="_blank"><i class="bi bi-google-play"></i> Google Play</a>
</div>