<div class="flex mb-8">
    <div class="bg-base-200 rounded-box w-full mx-4 md:mx-8 lg:w-auto lg:mx-auto">
        <ul class="menu menu-vertical lg:menu-horizontal lg:justify-center">
            <li><a href="/notables/20-minute-jams">20+ minute jams</a></li>
            <li><a href="/notables/curated">KGLW.net curated</a></li>
        </ul>
    </div>
</div>
