<% content_for :meta_title, "20 Minute Jams on Gizz Tapes" %>

<div class="container mx-auto mt-8 px-5">
  <h2 class="text-3xl font-bold mb-8 text-center text-black dark:text-white">
      20 Minute Jams
  </h2>

  <%= render "notable_links", current: 'twenty_minute_jams' %>
  
  <div class="bg-base-100 rounded-xl shadow-xl py-5 px-2">
    <% @jams.each do |jam| %>
      <%= render "notable_row", set_song: jam %>
    <% end %>
  </div>
</div>
