<footer
    class="container mx-auto mt-8 py-8 mb-20 border-t border-slate-400 dark:border-slate-700 text-slate-700 border-solid flex flex-wrap justify-center px-5">
    <span>Data from the <a href="https://archive.org" target="_blank" class="link link-primary link-hover">Internet Archive</a> and <a href="https://kglw.net" target="_blank" class="link link-primary link-hover">KGLW.net</a></span>
    <span><a href="https://gitlab.com/kglw/gizztapes2" target="_blank" class="link link-primary link-hover"><i class="bi bi-git"></i> Git repo</a></span>
    <span><a href="https://gitlab.com/kglw/gizztapes2/-/issues" target="_blank" class="link link-primary link-hover"><i class="bi bi-bug-fill"></i> Issue tracker</a></span>

<%#
    <span><a href="/feed.xml" target="_blank" class="link link-primary link-hover"><i class="bi bi-rss-fill"></i> Atom feed</a></span>
    <span><a href="https://bsky.app/profile/tapes.kglw.net" target="_blank" class="link link-primary link-hover"><span class="emoji-fill-primary">🦋</span> Bluesky</a></span>
    %>

    <span><a href="/api/docs" class="link link-primary link-hover"><i class="bi bi-database-fill"></i> API</a></span>
    <span>v2.0.0</span>
</footer>

<%#
<footer class="bg-base-200 text-base-content p-10">
    <div class="container mx-auto px-5">
        <div class="footer">

        <aside>
            <img src="https://i.imgur.com/yNeCfBM.png" class="w-24" />
            <p>
                KGLW.net
                <br />
                <span class="text-gray-600">asdf</span>
            </p>
        </aside>
        <nav>
            <h6 class="footer-title">Services</h6>
            <a class="link link-hover">Branding</a>
            <a class="link link-hover">Design</a>
            <a class="link link-hover">Marketing</a>
            <a class="link link-hover">Advertisement</a>
        </nav>
        <nav>
            <h6 class="footer-title">Company</h6>
            <a class="link link-hover">About us</a>
            <a class="link link-hover">Contact</a>
            <a class="link link-hover">Jobs</a>
            <a class="link link-hover">Press kit</a>
        </nav>
        <nav>
            <h6 class="footer-title">Legal</h6>
            <a class="link link-hover">Terms of use</a>
            <a class="link link-hover">Privacy policy</a>
            <a class="link link-hover">Cookie policy</a>
        </nav>
        </div>
    </div>
</footer>
%>